---
layout: default
---
<article>
  <header>
    <h1> {{ page.title }} </h1>
    <time> {{ page.position }} </time>
  </header>

{{ content }}


{% assign filtered_posts = site.posts | where: 'author', page.short_name | group_by: 'category' %}
{% if filtered_posts.size > 0 %}
  <h2>Lab accomplishments</h2>

  {% for cat in site.categories-order %}
    {% assign currentCat = filtered_posts | where: 'name', cat | first %}
      {% if currentCat %}
        {% if currentCat.name == "News" %}
          <h3> {{ currentCat.name }} </h3>
        {% else %}
            <h3> {{ currentCat.name }}s </h3>

        {% endif %}
        <ul>
          {% for item in currentCat.items %}
            <li> <a href="{{ item.url }}">{{ item.title }}</a> </li>
          {% endfor %}
        </ul>
      {% endif %}
  {% endfor %}
{% endif %}

</article>
